<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#!">Acceuil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Défis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Facebook</a>
  </li>
</ul>
