<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation"class="bg-success>
<div class="container-fluid" >

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            EJS Vend du rêve mais on y est pas encore

        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <input type="text" placeholder="cherche js .."/>
        </ul>
    </div>

</div>
</nav>

