body{margin: 0px; padding: 0px;}

html{font-family: 'Intuitive', 'Tahoma';
}

.connexion{
height: 25em;
background-color: red;
display: flex;
flex-direction:row; 
/*display :inline-flex;-->*/
justify-content: center;
align-items: center;
padding: 2em;
margin: 2em;
}

ul{display: flex;
flex-direction: row;
background-color: green ;
height: 4em;
text-decoration:none;
list-style-type:none;
justify-content: space-around; 
}



