<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    
        <h1>Connexion</h1>
        <p>Welcome to EJS!!</p>

        <div class="connexion">
		
		<form method="post" action="traitement.php">
    <p>
        <input type="text" name="mail" placeholder="votre email"  />
        <br />
       <input type="password" name="pass" placeholder="mot de passe" value="" />
       <br>
       <input type="submit" value="Me connecter" name="">
       <br>
       <a href=".html" color="grey">mot de passe oublié</a>
    </p>
</form>


		
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>

